$yellow: #fffa19;
$red: #c94540;
$white: #fff;
$grey: #343a40;

@mixin margin($bottom, $top){
  margin-bottom: $bottom;
  margin-top: $top;
}

.jumbotron {
  background-color: $red;
  background-image: url(../images/portada.jpg);
  color: $white;
  height: 300px;
  @include margin(0, 50px)
}

footer {
  background-color: $grey;
  color: $white;
  @include margin(0, 20px)
  padding: 20px 20px 0 20px;
}

.card-product {
  flex: 1 200px;
  @include margin(0, 10px)
  padding: 0 2px 0 2px;
}

.complete-width {
  width: 100%
}

.btn-information {
  border-radius: 4px;
  width: 100%;
}

.icon-separator{
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}
