.jumbotron {
  background-color: #c94540;
  background-image: url(../images/portada.jpg);
  color: #fff;
  height: 300px;
  margin-bottom: 0;
  margin-top: 50px;
}
footer {
  background-color: #343a40;
  color: #fff;
  margin-bottom: 0px;
  margin-top: 20px;
  padding: 20px 20px 0 20px;
}
.card-product {
  flex: 1 200px;
  margin-bottom: 0px;
  margin-top: 10px;
  padding: 0 2px 0 2px;
}
.complete-width {
  width: 100%;
}
.btn-information {
  border-radius: 4px;
  width: 100%;
}
.icon-separator {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
