<footer>
  <div class="row">
    <div class="col-sm-4 d-flex flex-column">
      <p>
        <a href="http://www.facebook.com">Facebook</a>
      </p>
      <p>
        <a href="http://www.instagram.com">Instagram</a>
      </p>
      <p>
        <a href="http://www.twitter.com">Twitter</a>
      </p>
      <p>
        <a href="http://www.google.com">Google</a>
      </p>
    </div>
    <div class="col-sm-4">
      <address class="">
        <h4>Oficina principal</h4>
        <p>
          <span class="oi oi-home icon-separator"></span>Medellín, Colombia
        </p>
        <p>
          <span class="oi oi-phone icon-separator"></span>+573000100000
        </p>
        <p>
          <span class="oi oi-inbox icon-separator"></span>contacto@danacol.com.co
        </p>
      </address>
    </div>
    <div class="col-sm-4 d-flex flex-column align-items-end">
      <p>
        <a href="http://www.facebook.com">Nosotros</a>
      </p>
      <p>
        <a href="http://www.instagram.com">Términos y condiciones</a>
      </p>
      <p>
        <a href="http://www.twitter.com">Precios</a>
      </p>
      <p>
        <a href="http://www.google.com">Contacto</a>
      </p>
    </div>
  </div>
  <hr>
</footer>
