<div class="jumbotron">
  <h1 class="display-4">Bienvenido a Danacol EU!</h1>
  <p class="lead">Esta es la página de bienvenida a nuestra empresa de textileria y de materiales de confección</p>
</div>
