<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">DANACOL EU</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="./index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./about.html">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./price.html">Precios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./contact.html">Contacto</a>
      </li>
    </ul>
  </div>
</nav>
